@{
    ViewBag.Title = "About";
}
<h1 class="display-4">@ViewBag.Title</h1>
<br />
<h2>@ViewBag.Message</h2>

<p class="lead">Azure Fundamentals workshop done at IIT, introducing the Azure Cloud Platform</p>
