@{
    ViewBag.Title = "Contact";
}
<h1  class="display-4">@ViewBag.Title</h1>
<br />
<h3>@ViewBag.Message</h3>
<address class="lead">
    99X Technolgy<br />
    #65, Walukarama Rd. Colombo 03<br />
    <abbr title="Phone">P:</abbr>
    (+94)11 4721194
</address>

<address>
    <strong>Personal Web:</strong>   <a href="https://kasunkodagoda.k2vsoftware.com/" target="_blank">https://kasunkodagoda.k2vsoftware.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/kasun.kodagoda" target="_blank">https://www.facebook.com/kasun.kodagoda</a><br />
    <strong>Blog:</strong> <a href="https://wpdevkvk.wordpress.com/" target="_blank">https://wpdevkvk.wordpress.com/</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/kasunkodagoda/" target="_blank">https://www.linkedin.com/in/kasunkodagoda</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/kasunkv" target="_blank">https://github.com/kasunkv</a><br />
</address>